<header>
  <div class="container">
    <div class="logo">
      <a href="/">
        <h1>Lauchstore</h1>
        <h2>COMPRA E VENDA</h2>
      </a>
    </div>

    <form class="search" action="/products/search" method="GET">
      <input type="text" name="filter" placeholder="Buscar por produtos" {% if search.term %} value="{{search.term}}" {% endif %}>

      <button type="submit" class="search__button">
        <i class="material-icons">search</i>
      </button>
    </form>

    <div class="menu-section">

      <div class="menu-toggle">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>

      <nav class="primary">
        <ul>

          <li>
            <a href="/products/create">
              <i class="material-icons icon__add">add</i>
              Novo anúncio
            </a>
          </li>

          <li class="account">
            <a href="/user/login">
              <i class="material-icons">account_circle</i>
              Acessar conta
            </a>

            {% if session.userId %}
              <ul class="submenu">
                <li>
                  <a href="#">
                    Minha conta
                  </a>
                </li>

                <li>
                  <a href="#">
                    Meus Pedidos
                  </a>
                </li>

                <li>
                  <a href="#">
                    Minhas Vendas
                  </a>
                </li>

                <li>
                  <form action="/user/logout" method="POST">
                    <button type="submit">
                      Sair
                    </button>
                  </form>
                </li>
              </ul>
            {% endif %}

          </li>
        </ul>
      </nav>
      {# /primary #}
    </div>

  </div>
  {# /CONTAINER #}

</header>