.shop {
  @extend .container;
  h3 {
    margin: 20px 0;
  }
}

.product-single {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;

  padding: 32px 24px;
  margin: 32px auto;

  box-shadow: 2px 2px 2px -4px rgba(63, 63, 63, 0.9);
  border: 1px solid #efefef;
}

/* Product-single gallery */
.product-single .gallery {
  width: 100%;
}
.product-single .gallery img {
  width: 100%;
}

.product-single .gallery .highlight > img {
  width: 100%;
  height: 280px;

  object-fit: none;
  object-position: 50% 50%;

  border: 1px solid #e5e5e5;
  cursor: zoom-in; /* para dar a entender que da para dar zoom */
}
.product-single .gallery .gallery-preview {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4px;
}
.product-single .gallery .gallery-preview img {
  width: 100%;
  height: 100px;

  object-fit: cover;
  opacity: 0.8;

  cursor: pointer;
  transition: opacity 0.3s;
}

.product-single .gallery .gallery-preview img:hover,
.product-single .gallery .gallery-preview .active {
  opacity: 1;
}

/* Product-single info */
.product-single .infos {
  display: grid;
  grid-template-rows: auto 40px 2fr 1fr; /* como a Última linha está com 1fr , ele joga ele tudo para baixo */
}
.product-single .infos h1 {
  color: #333;
  font-size: 32px;
  line-height: 42px;

  text-transform: uppercase;
}
.product-single .infos .published {
  color: #777;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
}

/* Product-single .price-buy */
.product-single .price-buy {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 8px;
}
.product-single .price-buy .price {
  font-size: 22px;
  line-height: 32px;
  font-weight: bold;

  color: #333;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-single .price-buy .price__old {
  color: #777;
  text-decoration: line-through;
  font-size: 14px;

  margin-left: 8px;
  margin-right: 8px;
}
/* Product-single button */
.product-single .price-buy .buy button {
  background-color: #0578a5;

  font-size: 14px;
  letter-spacing: 0.4px;
}

/* LIGHTBOX  */
.product-single .highlight .lightbox-target {
  position: fixed;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.9);

  overflow: hidden; /* remove qualquer rolagem possível */
  z-index: 100;

  top: 0;
  left: 0;

  opacity: 1;
  transition: opacity 400ms;
}
.product-single .highlight .lightbox-target img {
  position: absolute;

  width: 90%;
  height: 90%;

  margin: auto;

  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  background: white;
  object-fit: contain;
}

.product-single .highlight .lightbox-target .lightbox-close {
  width: 50px;
  height: 50px;

  position: absolute;
  right: 0;

  background-color: white;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 400ms;
}

// Products Home
/* home SHOP products */
.shop h3 {
  margin: 28px auto;
  font-size: $font-md;
}
.shop .items  {
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-gap: 20px;

  margin: 10px auto;
} 
.shop .product {
  display: grid;

  padding: 8px 5px;

  border: 1px solid #ddd;
  border-radius: 3.5px;
}
.shop .product .button {
  margin-bottom: 0;
}
.shop .product .image img{
  width: 100%;
  height: 150px;

  border-radius: 3.5px;

  object-fit: cover;
}
.shop .items h4 {
  margin: 8px 0;
  
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  color: #999;
}
.shop  .items p {
  color: #101010;
  
  font-weight: bold;
  font-size: 24px;
  margin-top: 8px;
}
.shop .items .old-price {
  padding: 0;
  margin: 4px 0;
  
  font-size: 14px;
  color: #999;
  
  text-decoration: line-through;
}
/* PAGINA DE BUSCA */
.search-products {
  display:grid;
  grid-template-columns: 200px 1fr;

  margin-top: 48px;
}
.search-products .header {
  font-size: 14px;
  color: #333;

  margin-bottom: 48px;
}
.search-products .header h2 {
  font-size: 26px;
  text-transform: capitalize;

  margin-bottom: 8px;
}
.search-products nav.category h4 {
  font-size:1em;
  color: #333;

  text-transform: uppercase;
  margin-bottom: 16px;
}
.search-products nav.category ul li {
  margin: 4px 0;
}
.search-products nav.category ul li a {
  color: #777;
}
.search-products nav.category ul li a:hover {
  color: #000000;
  font-weight: bold;

  transition: 0.5s;
}
