{% extends 'layout.njk' %}

{% block head %}
  <link rel="stylesheet" href="./show/style.css">
{% endblock head %}

{% block content %}
  <div class="product-single container">

    <div class="gallery">

      <div class="highlight">
        {# FOTO DE DESTAQUE; #}
        {% if not files %}
          <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO" alt="produto sem foto">
        {% else %}
          <img src="{{files[0].src}}" alt="{{file[0].name}}" onclick="LightBox.open()">
        {% endif %}

        <div class="lightbox-target">
          <img src="{{ files[0].src }}" alt="{{files[0].name}}">
          <a 
            class="lightbox-close"
            onclick="LightBox.close()"
          >
            <i class="material-icons">close</i>
          </a>
        </div>
      </div>

      <div class="gallery-preview">
        {% for images in files %}
          {# loop.index = 1 ao todo; loop.index0 = 0(zero ao todo) #}
          <img src="{{ images.src }}" alt="{{ images.name }}" {% if loop.index0 == 0 %} class="active" {% endif %} onclick="imageGallery.setImage(event)">
        {% endfor %}
      </div>

    </div>

    <div class="infos">
      <h1>{{product.name}}</h1>

      <div class="published">
        Publicado em
        {{ product.published.date }}
        as
        {{ product.published.hour }}
      </div>

      <div class="description">
        {{product.description}}
      </div>

      <div class="price-buy">
        <div class="price">
          {{ product.price }}

          {% if product.price !== product.oldPrice %}
            <span class="price__old">
              {{ product.oldPrice }}
            </span>
          {% endif %}

        </div>

        <div class="buy">
          {% if product.status == 0 %}
            {# 0 == não disponível #}
            <p>Produto indispónivel</p>
          {% elseif product.quantity == 0 %}
            {# quantidade for igual a zero #}
            <p class="unavailable">Fora de estoque</p>

          {% else %}
            {# 0 se não for igual a zero #}
            <button class="button">Comprar</button>
          {% endif %}
        </div>
      </div>
    </div>

  </div>
{% endblock content %}