/* HEADER */
header {
  .container {
    display: grid;
    grid-template-columns: 150px 1fr 270px;
    align-items: center;
    justify-content: center;

    grid-gap: 15px;
    padding: 0;

    .logo {
      padding: 0;
      margin: 0;
      h1 {
        color: white;
        font-size: $font-md;
        line-height: 22px;
      }

      h2 {
        font-size: $font-2xs;
        color: $primary-color;
      }
    } // logo

    .search {
      position: relative;
      
      input {
        width: 100%;
        font-size: $font-2xs;

        padding: 8px 16px;

        border-radius: 2px;
      }
      .search__button {
        position: absolute;
        cursor: pointer;

        right: 5px;
        top: 5px;

        background-color: transparent;
        color: var(--secondary-color);
      }
      .search__button:hover {
        filter: brightness(150%);
        transition: 400ms ease-in-out;
      }
    }

    nav.primary ul {
      
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      a {
        position: relative;
        
        display: flex;
        align-items: center;
        color: var(--primary-color);

        i {
          margin-right: 3px;
          align-self: flex-end;
        }

        &:hover {
          color: var(--secondary-color);

          &:hover .icon__add {
            transform: rotate(90deg);
            transition: 200ms;
          }
        }
      }
    } // primary-menu


    .account {
      position: relative;
      
      &:hover .submenu {
        opacity: 1;
        visibility: visible;
      }
      
      .submenu {
        position: absolute;

        display: block;

        width: 150px;
        margin: 10px 0px;

        top: -27;
        opacity: 0;
        visibility: hidden;
        
        border: 1px solid #eee;
        border-radius: 5.5px;

        box-shadow: 1px 1px 8px -2px #ccc;
        background-color: white;

        transition: all 400ms ease-in-out;

        
        li {
          &::before {
            content: " ";
            position: absolute;
            
            top: -18px;
            height: 0;
            width: 0;
            
            pointer-events: none;
          
            display: block;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            
            left: 60px;
            border: 10px outset transparent;
            border-bottom: 10px solid #fff;
          
          }
          
          a, button {
            display: inline-block;
            width: 100%;

            padding: 10px 0px;
            font-size: $font-2xs;

            border-bottom: 1px solid #ccc;
            color: #333;
            cursor: pointer;
            

            &:hover {
              opacity: 1;
              visibility: visible;
              
              font-weight: bold;
              color: #000;
            }
          }

          &:last-child button {
            background-color: #fff;
            border-bottom: none;
          }
        }
      }
    }// acount
  }
}

@media (max-width: 750px) {
  /* HEADER */
  header{
    padding: 20px;
    .container {
      grid-template-columns: 3fr 1fr;
    }
    .search {
      display: none;
    }
    nav.primary {
      display: none;
    }
  }
}
