<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Launchstore</title>
        {# MATERIAL ICONS #}
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        {# CLASSE PAI #}
        <link rel="stylesheet" href="/style.css">
        {# MOBILE SÓ TREINAMENTO #}
        <link rel="stylesheet" href="/mobile.css">
    </head>
    <body>
        {% include "part/header.njk" %}

        {% block content %}{% endblock content %}

        {% include "part/footer.njk" %}
    </body>
</html>